.rond_bleu {
    width: 100%;
    position: relative;
}

@media screen and (min-width: 425px) {
    .rond_bleu { 
        width: 400px
    }
}

.button_question {
    width: 300px;
    margin-top: 10%;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .button_question {
        font-size: 30px;
    }

}
.wrapper_button_question {
    display: flex;
    flex-direction: column;
}

.text_rond {
    position: absolute;
    top: 20px;
    font-size: 24px;
    max-width: 390px;
    color: white;
    text-align: center;
}

.fond_blanc {
    background-color: white;
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.text_réponse {
    text-align: center;
    font-size: 30px;
}

.img_link {
    position: absolute;
    top: 1px;
}

@media screen and (min-width: 425px)  {
    .img_link {
        top: 20px
    }
}
