@import url(./menu.css);
@import url(./question_template.css);

* {
    margin: 0;
    padding: 0;
}
  

.fond_bleuclair {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #BBC9ED;
    width: 100vw;
    height: 100vh;
}

.suivant {
    margin: 20px;
    padding: 20px;
    width: 80%;

}

.no_display {
    display: none;
}

.display {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center
}